<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Donalson Javier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Compiled CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
    <!-- Compiled JavaScript -->
    <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
</head>
<body">
    {% block content %}
    {% endblock %}
</body>
</html>